<!DOCTYPE html>
<html>
<style>
    form {
    margin: auto;
    width: 50%;
}
.result {
    margin: auto;
    width: 50%;
    border: 1px solid #ccc;
}
</style>

<head>
    <meta charset="utf-8">
    <Title>Mushroom Classifier</Title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body>
    <div>
        <form action="{{ url_for('predict') }}" method="POST">
            <fieldset>
                <legend align="center">
                    <h1> Mushroom Classifier Tool </h1>
                </legend>
                <p style="font-weight: bold;">Please select Odor of Mushroom</p>
                <input type="radio" name="Odor" value="almond"> Almond
                <input type="radio" name="Odor" value="anise"> Anise
                <input type="radio" name="Odor" value="creosote"> Creosote
                <input type="radio" name="Odor" value="fishy"> Fishy
                <input type="radio" name="Odor" value="foul"> Foul
                <input type="radio" name="Odor" value="musty"> Musty
                <input type="radio" name="Odor" value="pungent"> Pungent
                <input type="radio" name="Odor" value="spicy"> Spicy
                <input type="radio" name="Odor" value="none"> None<br>
                <p style="font-weight: bold;">Does Mushroom have bruises?</p>
                <input type="radio" name="bruises" value="yes"> Yes
                <input type="radio" name="bruises" value="no"> No<br>
                <p style="font-weight: bold;">Gill Spacing Type</p>
                <input type="radio" name="gill_spacing" value="close"> Close
                <input type="radio" name="gill_spacing" value="crowded"> Crowded<br>
                <p style="font-weight: bold;">Gill Size</p>
                <input type="radio" name="gill_size" value="broad"> Broad
                <input type="radio" name="gill_size" value="narrow"> Narrow<br>
                <p style="font-weight: bold;">Ring Type</p>
                <input type="radio" name="ring_type" value="cobwebby"> Cobwebby
                <input type="radio" name="ring_type" value="evanescent"> Evanescent
                <input type="radio" name="ring_type" value="flaring"> Flaring
                <input type="radio" name="ring_type" value="large"> Large
                <input type="radio" name="ring_type" value="pendant"> Pendant
                <input type="radio" name="ring_type" value="sheathing"> Sheathing
                <input type="radio" name="ring_type" value="zone"> Zone
                <input type="radio" name="ring_type" value="none"> None<br>
                <br>
                <input type="submit">
                <br>
                <br>
                <p style="font-size:35px" align="center">{{ features }}</p>
            </fieldset>
        </form>
    </div>
    <br>
    <div id="history" align="center">
        <legend align="center">
            <h2> Classification History </h2>
        </legend>
        <table style="width:70%" border="1px" align="center">
            <tr>
                <th align="center">Odor</th>
                <th align="center">Bruises</th>
                <th align="center">Gill Spacing</th>
                <th align="center">Gill Size</th>
                <th align="center">Ring Type</th>
                <th align="center">Mushroom Class</th>
            </tr>
            {% for row in logs %}
            <tr>
                <td align="center">{{row[0]}}</td>
                <td align="center">{{row[1]}}</td>
                <td align="center">{{row[2]}}</td>
                <td align="center">{{row[3]}}</td>
                <td align="center">{{row[4]}}</td>
                <td align="center">{{row[5]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <body>

</html>